@charset "UTF-8";

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: lightblue !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(60, 60, 60, 0.151) inset;
    box-shadow: 0 0 0px 1000px lightblue inset;
}

:root {
    --fonte-principal: "Montserrat", serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
    --cor-azul: #00EEFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    line-height: 23px;
}

html, body {
    height: 100%;
    overflow: auto; /* Permite a rolagem do conteúdo */
    overflow-x: hidden;
}

body {
    background: url('../assets/fundo2.png') center center / cover no-repeat;
    background-color: rgba(0, 0, 255, 0.37);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
}

main {
    margin: 70px auto 0;
}

main h1 {
    color: var(--cor-azul);
    font-size: 2em;
    text-align: center;
}

.container-contato {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    margin: 85px auto 0;
}

.container-contato .contato {
    width: 100%;
    max-width: 50%;
    text-align: center;
    padding: 10px;
}

.contato .div-logo {
    margin: -172px auto -170px;
    padding: 30px;
}

.contato .div-logo img {
    width: 48px;
    margin-right: 5px;
}

.contato .div-logo span {
    color: white;
    font-size: 30px;
    margin-top: 13px;
}

.contato p {
    width: 100%;
    max-width: 555px;
    display: flex;
    color: white;
    margin: auto;
}

.contato .links-redes {
    margin-top: 20px;
}

.contato .links-redes span {
    padding: 10px;
}

.links-redes > span > a > img {
    transition: 0.3s;
}

.links-redes > span > a > img:hover {
    transform: scale(1.2);
}

.formulário {
    width: 100%;
    max-width: 50%;
    display: flex;
    padding: 10px;
}

form {
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 6px;
}

.form-group {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    margin-bottom: 7px;
}

input, textarea {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #cccccc00;
    border-radius: 30px;
    background-color: #7e85926b;
    color: white;
}

input::placeholder,
textarea::placeholder {
    color: white;
    opacity: 0.7;
}

input:hover,
textarea:hover {
    border: 2px solid var(--cor-azul);
}

input:focus,
textarea:focus {
    border: 2px solid var(--cor-azul);
    border-color: var(--cor-azul) !important;
    outline: none !important;
}

input:valid,
textarea:valid {
    border: 2px solid var(--cor-azul);
    border-color: var(--cor-azul) !important;
    outline: none !important;
}

button {
    width: 100%;
    max-width: 440px;
    padding: 10px 0;
    background-color: var(--cor-azul);
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 6px;
}

button:hover {
    transform: scale(1.04);
}

/* Média: tablets em modo paisagem */
@media (max-width: 1024px) {

    main {
        display: flex;
        margin: 0 auto;
        padding: 0;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    main h1 {
        color: var(--cor-azul);
        font-size: 2em;
        text-align: center;
        margin: 35px 0px 40px 0px;
    }

    .container-contato {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .container-contato .contato {
        width: 100%;
        max-width: 87%;
        text-align: center;
        padding: 10px;
    }

    .container-contato .contato .div-logo{
        display: none;
    }

    .formulário {
        width: 100%;
        max-width: 90%;
        display: flex;
        padding: 10px;
    }   

    .formulário button {
        width: 95%;
        max-width: 450px;
        padding: 12px 0;
        background-color: var(--cor-azul);
        color: black;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}

/* Média: tablets em modo retrato */
@media (max-width: 600px) {

    main {
        display: flex;
        margin: 0 auto;
        padding: 0;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    main h1 {
        color: var(--cor-azul);
        font-size: 2em;
        text-align: center;
        margin: 35px 0px 40px 0px;
    }

    .container-contato {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .container-contato .contato {
        width: 100%;
        max-width: 87%;
        text-align: center;
        padding: 10px;
    }

    .container-contato .contato .div-logo{
        display: none;
    }

    .formulário {
        width: 100%;
        max-width: 90%;
        display: flex;
        padding: 10px;
    }   

    .formulário button {
        width: 95%;
        max-width: 385px;
        padding: 12px 0;
        background-color: var(--cor-azul);
        color: black;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}

/* Pequenos dispositivos móveis */
@media (max-width: 480px) {

    main {
        display: flex;
        margin: 0 auto;
        padding: 0;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    main h1 {
        color: var(--cor-azul);
        font-size: 2em;
        text-align: center;
        margin: 35px 0px 40px 0px;
    }

    .container-contato {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .container-contato .contato {
        width: 100%;
        max-width: 87%;
        text-align: center;
        padding: 10px;
    }

    .container-contato .contato .div-logo{
        display: none;
    }

    .formulário {
        width: 100%;
        max-width: 90%;
        display: flex;
        padding: 10px;
    }   

    .formulário button {
        width: 95%;
        max-width: 385px;
        padding: 12px 0;
        background-color: var(--cor-azul);
        color: black;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}
