@charset "UTF-8";

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: lightblue !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(60, 60, 60, 0.151) inset;
    box-shadow: 0 0 0px 1000px lightblue inset;
}

:root {
    --fonte-principal: "Montserrat", serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
    --cor-azul: #00EEFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    line-height: 23px;
}

.fundo-imagem {
    background: url('../assets/fundo.png') center center / cover no-repeat;
    background-color: rgba(0, 0, 255, 0.37);position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.filtro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f242db8;
    z-index: -1;
}

.section-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.div-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.div-logo > a {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: var(--fonte-principal);
    text-decoration: none;
    color: white;
}

.div-logo > a > img {
    margin: 5px auto auto auto;
    width: 33px;
    padding: 12px 0 0 0;
}

.div-logo > a > span {
    font-size: 23px;
    margin: 25px 0 0 7px;
}

.navegation {
    width: 50%;
}

.navegation > .navegation-div {
    display: flex;
    justify-content: space-around;
    color: rgb(221, 221, 221);
    margin-top: 30px;
    font-family: var(--fonte-secundaria);
}

.navegation > .navegation-div > span {
    padding: 5px;
    transition: 0.3s;
    color: white;
}

.navegation > .navegation-div > span:hover {
    color: white;
    cursor: pointer;
    transform: translateY(5px);
}

.navegation > .navegation-div > span > a {
    color: white;
    text-decoration: none;
}

#menu-toggle {
    display: none;
}

main {
    margin: 70px auto 0;
}

main h1 {
    color: var(--cor-azul);
    font-size: 2em;
    text-align: center;
}

.container-contato {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    margin: 85px auto 0;
}

.container-contato .contato {
    width: 100%;
    max-width: 50%;
    text-align: center;
    padding: 10px;
}

.contato .div-logo {
    margin: 10px auto 0;
    padding: 30px;
}

.contato .div-logo img {
    width: 48px;
    margin-right: 5px;
}

.contato .div-logo span {
    color: white;
    font-size: 30px;
    margin-top: 13px;
}

.contato p {
    width: 100%;
    max-width: 555px;
    display: flex;
    color: white;
    margin: auto;
}

.contato .links-redes {
    margin-top: 20px;
}

.contato .links-redes span {
    padding: 10px;
}

.links-redes > span > a > img {
    transition: 0.3s;
}

.links-redes > span > a > img:hover {
    transform: scale(1.2);
}

.formulário {
    width: 100%;
    max-width: 50%;
    display: flex;
    padding: 10px;
}

form {
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 6px;
}

.form-group {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    margin-bottom: 7px;
}

input, textarea {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #cccccc00;
    border-radius: 30px;
    background-color: #7e85926b;
    color: white;
}

input::placeholder,
textarea::placeholder {
    color: white;
    opacity: 0.7;
}

input:hover,
textarea:hover {
    border: 2px solid var(--cor-azul);
}

input:focus,
textarea:focus {
    border: 2px solid var(--cor-azul);
    border-color: var(--cor-azul) !important;
    outline: none !important;
}

input:valid,
textarea:valid {
    border: 2px solid var(--cor-azul);
    border-color: var(--cor-azul) !important;
    outline: none !important;
}

button {
    width: 100%;
    max-width: 440px;
    padding: 10px 0;
    background-color: var(--cor-azul);
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 6px;
}

button:hover {
    transform: scale(1.04);
}

/* Média: tablets em modo paisagem */
@media (max-width: 1024px) {
    .div-logo {
        width: 30%;
        padding-right: 80px;
    }

    .navegation {
        position: absolute;
        top: 60px;
        right: 0;
        background: linear-gradient(to bottom, #36363621, #1E2930);
        width: 50%;
        height: 28%;
        border-radius: 0px 0px 15px 15px;
        z-index: 10;
    }

    .navegation > .navegation-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px;
    }

    .navegation > .navegation-div > span {
        padding: 5px 25px;
        transition: 0.3s;
        margin: 8px 0;
    }

    .hidden {
        display: none;
    }

    #menu-toggle{
        display: block;
        background-color: #ffffff00;
        border: 0px;
        width: 66px;
        margin: 6px 0px 0px 0px;
    }

    #menu-toggle img {
        width: 52px;
    }

    main {
        display: flex;
        margin: 0 auto;
        padding: 0;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    main h1 {
        color: var(--cor-azul);
        font-size: 2em;
        text-align: center;
        margin: 35px 0px 40px 0px;
    }

    .container-contato {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .container-contato .contato {
        width: 100%;
        max-width: 87%;
        text-align: center;
        padding: 10px;
    }

    .container-contato .contato .div-logo{
        display: none;
    }

    .formulário {
        width: 100%;
        max-width: 90%;
        display: flex;
        padding: 10px;
    }   

    .formulário button {
        width: 95%;
        max-width: 450px;
        padding: 12px 0;
        background-color: var(--cor-azul);
        color: black;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}

/* Média: tablets em modo retrato */
@media (max-width: 600px) {
    .div-logo {
        width: 30%;
        padding-right: 50px;
    }

    .navegation {
        position: absolute;
        top: 60px;
        right: 0;
        background: linear-gradient(to bottom, #36363621, #1E2930);
        width: 60%;
        height: 28%;
        border-radius: 0px 0px 15px 15px;
        z-index: 10;
    }

    .navegation > .navegation-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px;
    }

    .navegation > .navegation-div > span {
        padding: 5px 15px;
        transition: 0.3s;
        margin: 8px 0;
    }

    .hidden {
        display: none;
    }

    #menu-toggle{
        display: block;
        background-color: #ffffff00;
        border: 0px;
        width: 66px;
        margin: 6px 0px 0px 0px;
    }

    #menu-toggle img {
        width: 52px;
    }

    main {
        display: flex;
        margin: 0 auto;
        padding: 0;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    main h1 {
        color: var(--cor-azul);
        font-size: 2em;
        text-align: center;
        margin: 35px 0px 40px 0px;
    }

    .container-contato {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .container-contato .contato {
        width: 100%;
        max-width: 87%;
        text-align: center;
        padding: 10px;
    }

    .container-contato .contato .div-logo{
        display: none;
    }

    .formulário {
        width: 100%;
        max-width: 90%;
        display: flex;
        padding: 10px;
    }   

    .formulário button {
        width: 95%;
        max-width: 385px;
        padding: 12px 0;
        background-color: var(--cor-azul);
        color: black;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}

/* Pequenos dispositivos móveis */
@media (max-width: 480px) {
    .div-logo {
        width: 100%;
        padding-right: 0;
    }

    .navegation {
        position: absolute;
        top: 60px;
        right: 0;
        background: linear-gradient(to bottom, #36363621, #1E2930);
        width: 40%;
        height: 32%;
        border-radius: 0px 0px 15px 15px;
        z-index: 10;
    }

    .navegation > .navegation-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px;
    }

    .navegation > .navegation-div > span {
        padding: 5px 5px;
        transition: 0.3s;
        margin: 8px 0;
    }

    .hidden {
        display: none;
    }

    #menu-toggle{
        display: block;
        background-color: #ffffff00;
        border: 0px;
        width: 66px;
        margin: 6px 0px 0px 0px;
    }

    #menu-toggle img {
        width: 52px;
    }

    main {
        display: flex;
        margin: 0 auto;
        padding: 0;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    main h1 {
        color: var(--cor-azul);
        font-size: 2em;
        text-align: center;
        margin: 35px 0px 40px 0px;
    }

    .container-contato {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .container-contato .contato {
        width: 100%;
        max-width: 87%;
        text-align: center;
        padding: 10px;
    }

    .container-contato .contato .div-logo{
        display: none;
    }

    .formulário {
        width: 100%;
        max-width: 90%;
        display: flex;
        padding: 10px;
    }   

    .formulário button {
        width: 95%;
        max-width: 385px;
        padding: 12px 0;
        background-color: var(--cor-azul);
        color: black;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}
