@charset "UTF-8";

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: lightblue !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(60, 60, 60, 0.151) inset;
    box-shadow: 0 0 0px 1000px lightblue inset;
}

:root {
    --fonte-principal: "Montserrat", serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
    --cor-azul: #00EEFF;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-principal);
    line-height: 23px;
}

@media only screen and (max-width: 768px) {
    body{
        width: 100%;
        height: auto;
        background: url('../assets/fundo.png') center center / cover no-repeat fixed;
        /* background-color: #1f242db8;
        background-color: rgba(0, 0, 255, 0.37); */
    }
    .fundo-imagem{
        width: 100%;
        height: 100vh;
        background: hidden;
        background-color: hidden;
    }

    .filtro {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    
    .navegation {
        display: none;
        margin: 0px auto auto auto;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .navegation-div {
        display: none;
    }

    .section-nav{
        justify-content: space-around;
    }

    .div-logo {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0px 110px 0px 40px;
    }

    #menu-toggle {
        width: 42px;
        display: block;
        background-color: rgba(240, 248, 255, 0);
        border: hidden;
        overflow: hidden;
        position: relative;
        margin: 9px 0px 0px 60px;
        cursor: pointer;
    }

    #menu-toggle img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main {
        display: flex;
        margin: 15px auto auto auto;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        padding: 0px;
        align-content: center;
        flex-wrap: wrap;
    }

    main > .img-avatar {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    main > .img-avatar img {
        width: 215px;
    }

    .img-avatar .sombra {
        background-color: transparent;
        width: 90px;
        box-shadow: 0px 15px 32px 6px var(--cor-azul);
    }

    main > .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 40px;

    }

    .container-main h1 {
        font-size: 33px;
        font-family: var(--fonte-principal);
        padding: 0px 0px 0px 10px;
        margin-bottom: 25px;
        margin: 35px 0px 25px 0px;
    }

    .container-main h2 {
        font-size: 22px;
        font-family: var(--fonte-principal);
        padding: 0px 0px 0px 9px;
        margin-bottom: 2px;
        color: #00EEFF;
    }

    .container-main h2 strong {
        color: #00EEFF;
    }

    .container-main p {
        font-family: var(--fonte-principal);
        width: 339px;
        padding: 10px;
        line-height: 23px;
        margin: auto;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Seu código CSS aqui */
}
  
@media only screen and (min-width: 1025px) {
  /* Seu código CSS aqui */
}
  
  