@charset "UTF-8";

:root {
    --fonte-principal: "Montserrat", serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
    --cor-azul: #00EEFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    line-height: 23px;
}

body {
    width: 100%;
    height: 100vh;
}

.fundo-imagem {
    background: url('../assets/fundo.png') center center / cover no-repeat;
    background-color: rgba(0, 0, 255, 0.37);position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.filtro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f242db8;
    z-index: -1;
}

.section-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.div-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.div-logo > a {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: var(--fonte-principal);
    text-decoration: none;
    color: white;
}

.div-logo > a > img {
    margin: 5px auto auto auto;
    width: 33px;
    padding: 12px 0 0 0;
}

.div-logo > a > span {
    font-size: 23px;
    margin: 25px 0 0 7px;
}

.navegation {
    width: 50%;
}

.navegation > .navegation-div {
    display: flex;
    justify-content: space-around;
    color: rgb(221, 221, 221);
    margin-top: 30px;
    font-family: var(--fonte-secundaria);
}

.navegation > .navegation-div > span {
    padding: 5px;
    transition: 0.3s;
    color: white;
}

.navegation > .navegation-div > span:hover {
    color: white;
    cursor: pointer;
    transform: translateY(5px);
}

.navegation > .navegation-div > span > a {
    color: white;
    text-decoration: none;
}

#menu-toggle {
    display: none;
}

.grid-container {
    width: 60%;
    text-align: center;
    margin: 55px auto 0;
    border-radius: 10px;
}

.grid-container h1 {
    color: var(--cor-azul);
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 2em;
}

.grid-container p {
    width: 100%;
    max-width: 700px;
    color: white;
    margin: auto;
    padding: 10px 0 30px 0;
}

.grid-container p strong {
    color: var(--cor-azul);
}

.grid-skills {
    width: 100%;
    max-width: 450px;
    margin: 30px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    justify-items: center;
    padding-bottom: 40px;
}

.grid-skills div {
    width: 65px;
    height: 50px;
}

.grid-skills div img {
    width: 50px;
    margin: auto;
    color: rgb(177, 177, 177);
    padding: 3px;
    transition: 0.3s;
}

.desbloqueado {
    border-radius: 25%;
}

.desbloqueado:hover {
    transform: scale(1.3);
}

.bloqueado {
    border: 3.5px dashed rgba(177, 177, 177, 0.086);
    border-radius: 25%;
}

@media (max-width: 768px) {
    .div-logo {
        width: 44%;
        padding-right: 100px;
    }

    .navegation {
        position: absolute;
        top: 60px;
        right: 0;
        background: linear-gradient(to bottom, #36363621, #1E2930);
        width: 40%;
        height: 28%;
        border-radius: 0px 0px 15px 15px;
        z-index: 10;
    }

    .navegation > .navegation-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px;
    }

    .navegation > .navegation-div > span {
        padding: 5px 35px;
        transition: 0.3s;
        margin: 8px 0;
    }

    .navegation > .navegation-div > span:hover{
        border-bottom: 1px solid var(--cor-azul);
    }

    .hidden {
        display: none;
    }

    main {
        display: flex;
        margin: 0px auto 0px auto;
        padding: 0px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }

    #menu-toggle{
        display: block;
        background-color: #ffffff00;
        border: 0px;
        width: 66px;
        margin: 6px 0px 0px 0px;
    }

    #menu-toggle img {
        width: 52px;
    }

    .grid-container {
        width: 90%;
        text-align: center;
        margin: 31px auto 0;
        border-radius: 10px;
    }

    .grid-skills {
        width: 100%;
        max-width: 450px;
        margin: 0px 3px 0px -8px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 42px 4px;
        padding-bottom: 40px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .grid-skills div {
        width: 50px;
        height: 59px;
    }
}